* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

body {
    background-color: #F1F3EF;
    margin: 0;
    font-family: sans-serif; /*ALTERAR A FONTE*/
    background-color: #fff;
    color: #333;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    background-color: aqua;
}

.main_home {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.secao_logo {
    display: flex;
    flex-direction: column;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

/* Itens do Menu */
.menu_lateral {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_lateral li a {
    display: block;
    padding: 10px 40px;
 /* Padding ajustado para alinhamento */
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.95em;
    letter-spacing: 1px;
    transition: background-color 0.2s;
}

.menu_lateral li a:hover {
    background-color: #f5f5f5;
}


/* Conteúdo Principal */
.main_home {
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 20px; 
}

.secao_logo {
    display: flex;
    gap: 15px; 
/* Espaço entre o banner principal e os menores */
    padding-right: 20px; 
/* Espaçamento da margem direita */
}


/* Itens do Menu */
.menu_lateral {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_lateral li a {
    display: block;
    padding: 10px 40px;
 /* Padding ajustado para alinhamento */
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.95em;
    letter-spacing: 1px;
    transition: background-color 0.2s;
}

.menu_lateral li a:hover {
    background-color: #f5f5f5;
}




/* conteudo principal */
.main_home {
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 20px; 
}

.secao_logo {
    display: flex;
    gap: 15px; 
/* Espaço entre o banner principal e os menores */
    padding-right: 20px; 
/* Espaçamento da margem direita */
}

.conteudo {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    
}

.card1 {
    width: 90%;
    max-width: 900px;
    height: 360px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 30px;
    padding: 0 50px;
    box-shadow: 0 5px 8px 0 #00000050;
    margin-bottom: 50px;
}

.card1 img {
    position: absolute;
    align-self: flex-end;
    left: 20px;
    width: 46%;

}

.card1 div {
    width: 40%;
}

.card1 svg {}

.cards {
    display: flex;
    gap: 5%; /* Espaço entre os dois cards menores */

}

.card2 {
    min-width: 200px;
    width: 40%;
}

.card2 img{
    width: 100%;
}

.card3 {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* Cor de logo para a imagem */
}

.card3 img{
    width: 100%;
}


.card2 .model-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: #ccc; /* Cor de logo para a imagem */
}


.secao_logo svg {
    width: 240px;
    margin-top: 50px;
    height: 60px;
    display: flex;
}

.secao_logo img {
    width: 300px;
}

/* CADASTRO */

.cadastro {
    background-color: #004d9c; /* Azul escuro do layout */
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 80px; /* Espaço para separar dos banners e do 'logoo' */
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

.cadastro p {
    margin: 0;
}

.cadastro strong {
    font-weight: bold;
}

 /* Media Query para telas menores (para responsividade)  */

@media (max-width: 1024px) {
    .menu_lateral {
        width: 180px;
    }

    .secao_logo {
        flex-direction: column;
        padding-right: 0;
    }
    
    .conteudo {
        min-width: auto;
    }

    .logo {
        right: 20px;
        transform: none;
        bottom: 20px;
    }
}