* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

body{
    background-color: #F1F3EF;
}

.main_home {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.secao_logo {
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}

.secao_logo img {
    width: 300px;
}

/* CARDS */

.secao_cards {
    width: calc(100% - 360px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.card {
    margin: 50px 0;
    width: 1135px;
    height: 379px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 10px 10px 40px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 0 40px 2px #00000075;
}


