* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

body {
    background-color: #F1F3EF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    background-color: aqua;
}

.main_home {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.secao_logo {
    display: flex;
    flex-direction: column;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.conteudo {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.card1 {
    width: 90%;
    max-width: 900px;
    height: 320px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 30px;
    padding: 0 50px;
    box-shadow: 0 5px 8px 0 #00000050;
}

.card1 img {
    position: absolute;
    align-self: flex-end;
    left: 20px;
    width: 46%;

}

.card1 div{
    width: 40%;
}

.card1 svg{

}

.containercard2e3 {
    display: flex;
    flex-direction: column;

}

.card2 {
    width: 50%;
    background-color: aqua;
    margin-top: px;
}

.secao_logo svg {
    width: 240px;
    margin-top: 50px;
    height: 60px;
    display: flex;
}


.secao_logo img {
    width: 300px;
}